<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjozqpIX0IxfRsuvTaqRkaOB6RCe7zvP0</string>
	<key>GCM_SENDER_ID</key>
	<string>761751808412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pashagavrilov.SwiftLessons</string>
	<key>PROJECT_ID</key>
	<string>swiftlessons-d509d</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftlessons-d509d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:761751808412:ios:090ac2e82e99cff6e28059</string>
</dict>
</plist>